:host {
  width: 100%;
}

.angebote {
  grid-area: angebote;
}

.empfohlene-kategorie {
  grid-area: kategorie;
}

.neuheiten {
  grid-area: neuheiten;
}

.empfohlene-produkte {
  grid-area: produkte;
}

.kontainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 40vh 80vh 40vh;
  grid-row-gap: 1rem;
  grid-template-areas:
    "produkte"
    "angebote"
    "neuheiten"
    "kategorie";
}
