<div class="kontainer">
  <shop-angebote class="angebote"></shop-angebote>
  <shop-empfohlene-kategorie class="empfohlene-kategorie"></shop-empfohlene-kategorie>
  <shop-neuheiten class="neuheiten"></shop-neuheiten>
  <shop-empfohlene-produkte class="empfohlene-produkte"></shop-empfohlene-produkte>
</div>
