:host {
  width: 100%;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.such-gruppe {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: inherit;
  justify-content: center;
}

shop-select {
  font-size: 1rem;
}

.such-input {
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  flex-grow: 1;
  padding: 0.5rem;
}

.such-btn {
  width: 2.5rem;
  background-image: url("../../../../assets/icons/search-24px.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  background-color: #ffb973;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 2.5rem;
}

.such-btn:focus {
  outline-color: orange;
}

.such-btn:hover {
  cursor: pointer;
  background-color: #ffa474;
  transition: background-color .5s;
}

@media(max-width: 100px) {
  .such-input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}
