<div class="such-gruppe">
  <shop-select
    [options]="options"
    [(ngModel)]="kategorie"
    (onUpdate)="onAuswahl()"
  ></shop-select>
  <label for="suche" hidden>Suche</label>
  <input #input class="such-input" type="text" [(ngModel)]="suchwort" id="suche">
  <button
    class="such-btn"
    (click)="suchen()"
  ></button>
</div>
