<div #container>
  <div class="select-kontainer">
    <div class="select-auswahl" #auswahl (click)="open()">{{ ausgewaehlt }}<i class="nav-icon"></i></div>
    <div class="select-optionen" #optionen>
      <div class="option" #optionEl *ngFor="let option of options; index as i" (click)="updateAusgewaehlt(i, optionEl)">{{ option }}</div>
    </div>
  </div>
</div>
