@import "variablen";

.select-kontainer {
  position: relative;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 1rem 0 0.5rem;
  height: 2.5rem;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

.select-auswahl {
  color: black;
  width: 100%;
  font-size: 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}

.select-auswahl:after {
  position: absolute;
  content: '';
  border-style: solid;
  _border-style: dashed;
  border-width: 4px;
  border-color: transparent;
  border-top: 4px solid #666;
  border-bottom-width: 0;
  width: 0;
  height: 0;
  font-size: 0;
  right: -4px;
}

.nav-icon {

}

.select-optionen {
  color: black;
  display: none;
  width: 20rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 5px 5px black;
  position: absolute;
  top: 2.5rem;
  left: 0;
  max-height: 20rem;
  overflow-y: scroll;
}

.option {
  padding: 0.5rem;
}

.option:hover {
  background-color: $primary;
  color: white;
}

.aktiv {
  background-color: $primary;
  color: white;
}

.select-kontainer:hover {
  background-color: #cccccc;
}


@media (max-width: 600px) {
  .select-kontainer {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

