.item {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 20rem;
}

.kontainer {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: 25rem;
  grid-gap: 1em;
}

@media (max-width: 1400px) {
  .kontainer {
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: unset;
    grid-auto-rows: auto;
    grid-gap: 1em;
  }
}

@media (max-width: 1000px) {
  .kontainer {
    grid-template-columns: repeat(1, 20rem);
    grid-template-rows: unset;
    grid-auto-rows: auto;
    grid-gap: 1em;
  }
}
