@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family:'Roboto, sans-serif'
);
@include mat-core($custom-typography);

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/roboto.woff2) format('woff2');
}

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

html, body { height: auto; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


