@import "variablen";


@mixin format($justify-content, $font-size) {
  color: white;
  font-size:  $font-size;
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

.logo {
  @include format(flex-start, 2rem);
  grid-area: logo;
}

.suche {
  @include format(center, 1.2rem);
  grid-area: suche;
}

.benutzer-konto {
  @include format(center, 1.2rem);
  grid-area: benutzer-konto;
}


.warenkorb {
  @include format(center, 1.2rem);
  grid-area: warenkorb;
}


.navigation {
  height: 100%;
  padding: 1rem;
  background-color: $primary;
  display: grid;
  grid-template-columns: 5% 20% 50% 10% 10% 5%;
  grid-template-rows: 100%;
  grid-template-areas:
    ". logo suche benutzer-konto warenkorb ."
}

@media(max-width: 1000px) {
  .navigation {
    padding: 0;
    grid-template-columns: 1% 33% 100fr 100fr 1%;
    grid-template-rows: 4rem 100fr 100fr;
    grid-template-areas:
      ". logo benutzer-konto warenkorb ."
      ". suche suche suche ."
      ". . . . ."
      ". . . . ."
  }
}
