<div class="navigation">
  <div class="logo">Logo</div>
  <div class="suche">
    <shop-suchfeld
      [options]="options"
      (suche)="onSuche($event)">
    </shop-suchfeld>
  </div>
  <div class="benutzer-konto">
    Benutzer
  </div>
  <div class="warenkorb">
    Warenkorb
  </div>
</div>
